---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Hero from '../components/Hero.astro'
import TitleSection from '../components/TitleSection.astro'
import Briefcase from '../components/Briefcase.astro'
import Experience from "../components/Experience.astro"
---

<Layout 
	title="Ezequiel Murga's Portfolio - Web Developer and Programmer with 3 years of experience."
	description="Hire Ezequiel to create your web or mobile application. Web Developer. Specialized in creating everything you can imagine."
	>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero>
			</slot>
		</Hero>
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="experience">
				<TitleSection>
					<Briefcase class="size-8" />
					Profesional Experience
				</TitleSection>
				<Experience />
			</SectionContainer>
			
			<SectionContainer>Projects</SectionContainer>
			
			<SectionContainer>About Me</SectionContainer>

		</div>
	</main>
</Layout>